
table.MuiTable-root .orderBoxInside {
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  

}

.header-table-details {
background-color: #84A98c;
color: white;
width: 100%;
}

/* titles */
 table.MuiTable-root th  {
	color: white;
}

/* inside table  */
table.MuiTable-root tr {
	color:black;
	text-align: center;
}

/* left title scope */
.header-table-main{
background-color: #84A98c;
color: white;

}

/* inside boxs titles */
th {
	background-color:  #a63437;
	color: antiquewhite;
	font-size: 16px;	
}






