.inputStyleForm {
	display: flex;
	flex-direction: column;

	width: 90%;
	margin: auto;
}
.inputStyleBox {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
}

.inputStyle1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.datePicker {
	width: 40%;
	border: black 1px solid;
	border-radius: 5px;
}
