.wrappercoctails {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
	grid-auto-rows: minmax(100px, auto);
	margin: auto;
	padding: 2%;
}

@media only screen and (max-width: 991px) {
	.wrappercoctails {
		grid-template-columns: repeat(2, 1fr);
	}
}
