.containerbtn {
	border-radius: 5px;
	border: none;
	background-color: rgb(230, 223, 223);
	padding: 3%;
	width: 50%;
	align-self: center;
	background-color: #a63437;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	color: aliceblue;
}

.containerbtn:hover {
	background-color: #ca7275;
	color: white;
}

.containerbtn:focus {
	background-color: #ca7275;
	color: white;
	outline:0;
	box-shadow:none;
}

.containerbtn:c {
	border:none;
}
.closebtn {
	border-radius: 5px;
	border: none;
	background-color: rgb(230, 223, 223);
	padding: 1%;
	/* width: 50%; */
	align-self: center;
	background-color: #a63437;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	color: white;
}

.closebtn:hover {
	background-color: #ca7275;
	color: white;
	
}


.plusBtn {
    font-weight: bold;
    color:  rgb(89, 136, 89);  
    border:none;
    border-radius: 15%;
    width:20px;
	margin:0 ;
	padding: 1% 2%;
}

.plusBtn:hover {
    color: rgb(0, 0, 0);
    background-color:rgb(103, 152, 103);
}

.minusBtn {
    font-weight: bold;
    color:  rgb(122, 19, 24);  
    border:none;
    border-radius: 15%;
    width:20px;
	margin:0 ;
	padding: 1% 2%;
}

.minusBtn:hover {
    color: white;
    background-color:rgb(166, 36, 36);  
	
}


