
.wrapper55 {
	align-items: center;
	justify-content: center;
	text-align: right;
	background-color: gainsboro;
	padding:3%;
	object-fit:content;
}

/* report box */
.reportformbox {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
height: 700px;
    background-color: gainsboro;
	width: 100%;
	margin:auto;
}

.MuiDataGrid{
	border:1px solid blue;
}

/* table title  */
.MuiDataGrid-columnHeaderTitle  {
    color:#a63437;
    font-weight: bold;  
	max-width: 550px;
	width: 100%;
}

/* toolbar functions style */
.report-toolbar {
    color:black;
	background-color: #a63437;
	width: 100%;
}

/* toolbar functions btn style */
.MuiDataGrid-toolbarContainer button{
    color:white;
}

 .MuiDataGrid-cell {
	display: flex; 
	flex-direction: column;
	flex-wrap: wrap;
}


 .reportformbox .MuiDataGrid-columnHeaderTitleContainer {
	display: flex; 
	flex-direction: column;
	flex-wrap: wrap;
	justify-content:space-around;
}

.MuiDataGrid-cellContent {
	padding-top:15px;
	

}


