


/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    margin:auto;
    background-color: gainsboro; 
    border-radius: 10px;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
    height:90%;
    
  }

.infodiv {
    display: flex;
    padding:3%
}

/* Make the image responsive */
.container img {
    /* position: relative; */
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
    display: block;

}

.h2 {
    color: #ca7275;
    line-height:1.4rem;
    margin-bottom:0.5rem ;
    margin: 2%;
    text-align: right;
}

figure {
    /* position: relative; */
    color: black;
    /* top: 50%;
    left: 50%; */
    /* padding: 5%;
    margin:2%; */
     text-align: right;
     /* position: relative; */
     /* width: 50%; */
} 

/* Style the button and place it in the middle of the container/image */
.container .btn {
    /* position:relative; */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    left:50%; 
    font-size: 10px;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #a63437;
    /* margin:2%; */
    position: relative;
    width: 50%;
    margin: 6%;
}

.container .btn:hover {
    background-color: #ca7275;;
    color:white;
    font-weight: bold;
}

.price {
    color:#a63437;
    font-weight: bold;
    text-align: left;
    /* padding-left:3%; */
}