
.ingredientsTitle {
    color:#a63437;
    margin:0;
    align-self: center;
}


.ingredientsContent img {
    width: 150px;  
    height: auto; 
    flex: 1 1 40px;
	aspect-ratio: 1/1;
	border-radius: 10px;
	min-height:50px;
    object-fit: cover;  
    margin-left:15%;
    margin-bottom: 7%;
    
}

.ingredientsContainer{
    display: flex;
    flex-direction: row;
    width: 200px;
   

}

.ingredientsList {
    font-weight:600;
    border-radius: 10px solid red;
    text-align:left;  
    flex-direction: row;
    padding: auto;
    margin:auto;  
}

.ingredientsBtns{
    display:flex;
    font-weight:600;
    border-radius: 10px solid red;
    margin-left: 10%;
    text-align:right;
  
}

.countInput {
    width: 36px;
    border:none;
}
