.body {
	background-color:gainsboro;
}

.box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap:15px;
	background-color:gainsboro;
	

	}
	
	.cardBox {
		box-shadow: 3px 3px 5px rgb(141, 141, 150) ,
		-3px -3px 5px rgba(234, 236, 240, 0.932) ,
		 3px 3px 8px rgb(209, 209, 209);
		border-radius: 1em;
	}

	.div1 {
	width: 70%;
		margin:3% auto;
		grid-area: 1 / 1 / 2 / 8; }
	.div2 {
		margin:3%;
		box-shadow: 3px 3px 5px rgb(141, 141, 150) ,
		-3px -3px 5px rgba(234, 236, 240, 0.932) ,
		 3px 3px 8px rgb(209, 209, 209);
border-radius: 1em;
		
		
		grid-area: 2 / 1 / 3 / 3; }
	.div3 {
		margin:3%;
		box-shadow: 3px 3px 5px rgb(141, 141, 150) ,
		-3px -3px 5px rgba(234, 236, 240, 0.932) ,
		 3px 3px 8px rgb(209, 209, 209);
border-radius: 1em;
		
		grid-area: 2 / 3 / 3 / 7; }
	.div4 {
		
		margin:3%;
		box-shadow: 3px 3px 5px rgb(141, 141, 150) ,
		-3px -3px 5px rgba(234, 236, 240, 0.932) ,
		 3px 3px 8px rgb(209, 209, 209);
border-radius: 1em;
		
		grid-area: 3 / 1 / 4 / 3; }
	.div5 {
		
		margin:3%;
		box-shadow: 3px 3px 5px rgb(141, 141, 150) ,
		-3px -3px 5px rgba(234, 236, 240, 0.932) ,
		 3px 3px 8px rgb(209, 209, 209);
border-radius: 1em;
		
		grid-area: 3 / 3 / 4 / 7; }

		.titleDiv p {
	color: white;
	margin-right: 3%;
	
		}
		.titleDiv h1 {
		padding:0;
		}


		.adminPanelBtn {
			width:100%;
			margin: auto;
			margin-top:4%;
			
		}

		.AlertArea {
			margin-bottom: 5%;
		}

	.MuiAlert-message{
		
		width:100%;
		text-align: right;
		}

	@media only screen and (max-width: 600px) {
.box { display: flex; 
flex-direction: column;}

}