

/* when the shopping cart is empty */
.emptyShoppingCart {
	background-color: gainsboro;
	width: 100%;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.emptyShoppingCartImage {
	width: 100px;
	object-fit:contain;
	align-self: center;
	width: 100px;
	margin: 3%;
	height:fit-content;
}

.emptyShoppingCartImage:hover {
	width: 150px;
	object-fit:contain;
	opacity:0.7;
}

.containerbtnEmpty {
	background-color: #a63437;
	color: #fff;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.5s;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	align-content: center;
	margin:2%;
	text-align: center;
}

.containerbtnEmpty:hover {
	background-color: #ca7275;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* when the shopping cart is not empty */


.shoppingCartBox{
	background-color: gainsboro;
	width: 100%;
}


table.MuiTable-root {
	border-radius: 10px;
	background-color: white;
	margin: auto;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* table title and columns titles  */
table.MuiTable-root th {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border:none;
}

/* table inside rows */
table.MuiTable-root td {
	font-size: 16px;
	color:grey;
	text-align: right;
	border:none;
	letter-spacing: 1px;	
	font-weight: 500;
	
}

/* change quantity column */
.changeQ {
	display: flex;
	justify-content: center;
}

/* pay box */
.paybtn {
margin:auto;
display: flex;
flex-direction: column;
margin-top:3%;
width:100%;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.5s;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	

}

.paybtnpaypal{
	width:fit-content;
	min-width: 222px;
	width:100%;
}

/* when the paypel area is open */
.payPalPayBox{
	margin-top:3%;
}


/* btns */

.plusBtn {
    font-weight: bold;
    color:  rgb(89, 136, 89);  
    border:none;
    border-radius: 15%;
    width:20px;
	margin:0 ;
	padding: 1% 2%;
	background-color:white;
}

.plusBtn:hover {
    color: rgb(0, 0, 0);
    background-color:rgb(103, 152, 103);
	color: white;
}

.minusBtn {
    font-weight: bold;
    color:  rgb(122, 19, 24);  
    border:none;
    border-radius: 15%;
    width:20px;
	margin:0 ;
	padding: 1% 2%;
	background-color:white;
}

.minusBtn:hover {
    color: white;
    background-color:rgb(166, 36, 36);  
	
}

/* delete item column */
.fullTd {
	width: 100px;
	border-radius:5px;
	margin-right: 35%;
}


@media only screen and (max-width: 991px) {
	
	.shoppingCartBox{
	
		width:100%;
	}
	.shoppingCartBox{
	
		background-color: white;
	}
}

