@import url('https://fonts.googleapis.com/css2?family=Alef:wght@700&family=Staatliches&display=swap');


.shoppingCartBoxMain{
	background-color: gainsboro;
	
}



.emptyShoppingCartImage {
	width: 150px;
	object-fit:contain;
}

.emptyShoppingCartImage:hover {
	width: 150px;
	object-fit:contain;
	opacity:0.7;
}

.ShoppingCartImage {
	width: 44px;
	object-fit:contain;
	padding:0;
	height: 44px;
}

.ShoppingCartImage:hover {
	width: 44px;
	opacity:0.7;

}

.shoppingCartBox{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width:80%;
	margin: auto;
	padding-bottom:4%;
	background-color: gainsboro;
	padding-top:3%;
	
}


table.MuiTable-root {
	border-radius: 10px;
	background-color: white;
	margin: auto;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

table.MuiTable-root th {
	font-size: 16px;
	/* color:#a63437; */
	font-weight: bold;
	text-align: center;
	border:none;
}

table.MuiTable-root td {
	font-size: 16px;
	color:grey;
	text-align: right;
	border:none;
	letter-spacing: 1px;	
	font-weight: 500;
	
}

table.MuiTable-root .borderCell  {
	font-size:16px;
	background-color:#a63437;
	color:white;
	margin-top:3%;
}

.fullTd {
	width:70%;
	border-radius:5px;
	align-content: center;
}

.backtomenubtn {
	padding:1%;
}

.changeQ {
	display: flex;
	justify-content: center;
}

.paybtn {

margin:auto;
display: flex;
flex-direction: column;
margin-top:3%;
width:100%;

}
.paybtnpaypal{
	width:fit-content;
	min-width: 222px;
	width:100%;
	
}

.payPalPayBox{
	margin-top:3%;
}

@media only screen and (max-width: 991px) {
	
	.shoppingCartBox{
	
		width:100%;
	}
	.shoppingCartBox{
	
		background-color: white;
	}
}

