.wrapper22 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	justify-content: center;
	width: 100%;
	text-align: right;
	height: inherit;
	background-color: lightgray;
	padding: 5%;
	align-self: center;
}

.ordersTitle {
	background-color: white;
    color: white;	
}

/* page btns */
.ContainerBtnCell{
	display: flex;
	flex-wrap: wrap;
}



.containerbtn23 {
	border-radius: 5px;
	border: none;
	background-color: rgb(230, 223, 223);
	padding: 3.2%;
	width: 100px;
	align-self: center;
	background-color: #a63437;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	color: aliceblue;
}

.containerbtn24 {
	padding: 14%;
}

.containerbtn23:hover {
	background-color: #ca7275;
	color: white;
}

.containerbtn23:focus {
	background-color: #ca7275;
	color: white;
	outline:0;
	box-shadow:none;
}

/* inside boxs titles */
/* .tableHeaderBox{
	background-color:  #3bef32;
	color: antiquewhite;
	font-size: 16px;	
	width:100%;
} */
