.dialogBox{
	border-top: 1px solid blue;
	background-color:green;
	display: flex;
	justify-content:center;
	
}

.textFieldFormWrapper {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.textFieldFormWrapper .textFieldForm {
	border-radius: 5px;
	border: none;
	background-color: rgb(230, 223, 223);
	padding: 1%;
	margin: 2%;

}

.textFieldForm:focus {
	background-color: rgb(232, 229, 229);
	border: solid 2px #ca7275;
	outline: 0;
}

.textFieldForm:hover {
	background-color: rgb(232, 229, 229);
	border: solid 2px #497694;
	outline: 0;
}

.DialogTitle{
	margin: auto;
	color: #a63437;
	font-size: 16px;
}