/* personal Data Box */
.personalDataBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: gainsboro;
	margin: auto;
	border-radius: 10px;
	justify-content: center;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	padding: 5%;
}

/* inside box */
.personalDetailsUpdate {
	display: flex;
	flex-direction: column;
}

.personalDetailsUpdate button {
	border-radius: 5px;
	border: none;
	padding: 3%;
	margin: 3%;
	background-color: #a63437;
	color: aliceblue;
	margin: auto;
	position: relative;
}

.personalDetailsUpdate button:hover {
	background-color: #ca7275;
	color: white;
	font-weight: bold;
}

.personalDetailsUpdate form {
	display: flex;
	flex-wrap: wrap;

	justify-content: right;
}

/* inputs */

label {
	color: #a63437;
	padding-top: 3%;
	margin-right: 3%;
	width: 80%;
}

.personalDetailsUpdate input {
	border-radius: 5px;
	border: none;
	background-color: white;
	padding: 1%;
	margin: 2%;
	box-shadow: none;
	border: none;
	min-width: 200px;
}
.personalDetailsUpdate inputfocus {
	background-color: rgb(232, 229, 229);
	border: solid 2px #ca7275;
	outline: 0;
}

.personalDetailsUpdate input:hover {
	background-color: rgb(232, 229, 229);
	border: solid 2px #497694;
	outline: 0;
}
.personalDetailsUpdate input:focus {
	background-color: rgb(232, 229, 229);
	border: solid 1px #ca7275;
}

.personalDetailsUpdate input:hover {
	background-color: rgb(232, 229, 229);
}

/* title div */
.titleDiv {
	background-color: #a63437;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 3%;
	margin-bottom: 3%;
	align-items: flex-end;
}

.titleDiv h1 {
	color: white;
}
