.wrapper2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	justify-content: center;
	width: 100%;
	text-align: right;
	height: inherit;
	background-color: lightgray;
	
}

.wrappershoppingcart {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin: auto;
	border-radius: 10px;
	justify-content: center;
	width: 80%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	/* text-align: right; */
	/* height: inherit; */
	padding: 4%;
	margin: 3%;
}


.savebtncontainer {
	/* border: solid 4px red; */
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: grey;
}

/* change personal data section */
.personalDetailsUpdate {
	display: flex;
	flex-direction: column;
}

.personalDetailsUpdate button {
	border-radius: 5px;
	border: none;
	padding: 1%;
	background-color: #a63437;
	color: aliceblue;
	margin: auto;
	position: relative;
}

.personalDetailsUpdate button:hover {
	background-color: #ca7275;
	color: white;
	font-weight: bold;
}

.personalDetailsUpdate form {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.personalDetailsUpdate h1 {
	margin: auto;
	color: #a63437;
	font-size: 16px;

}

.personalDetailsUpdate input {
	border-radius: 5px;
	border: none;
	background-color: rgb(230, 223, 223);
	padding: 1%;
	margin: 2%;
	flex-basis: 20%;
	box-shadow:none;
	border:none;
}
.personalDetailsUpdate input:focus {
	background-color: rgb(232, 229, 229);
	border: solid 1px #ca7275;
	
}

.personalDetailsUpdate input:hover {
	background-color: rgb(232, 229, 229);
}

